header {
    background-color: rgb(76, 76, 76);
    align-content: center;
    text-align: center;

}
body {
    background-color: rgb(76, 76, 76);
    align-content: center;
    text-align: center;
    font-size: 130%;
}